.accordion-content-transition {
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
  outline: none !important;
  border: none !important;
  animation: slideDownAccordion 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-content-transition.slide-up {
  animation: slideUpAccordion 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDownAccordion {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpAccordion {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-32px);
  }
}
